@import 'styles.css';
@import 'media-queries.css';

/* ====================== Breadcrumb  ====================== */

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 1.1em;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #014681;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

#maincontent {
  text-align: center;
}

#maincontent section {
  margin: 0 auto;
}

#maincontent .responsive {
  --col-width-large: 49%;
  --col-width-medium: 90%;
  --col-width-small: 95%;
  vertical-align: middle;
}

/* ====================== Map ====================== */
#map-container.responsive {
  --col-width-medium: 75%;
  --col-width-small: 80%;

  border: 2px solid #ccc;
  margin: 30px auto;
}

#map {
  width: 100%;
  height: 90vh;
  max-height: 600px;
}

/* ====================== Restaurant Details ====================== */
#restaurant-container {
  text-align: left;
}

#restaurant-img {
	width: 90%;
}

#restaurant-name {
  margin: 15px 0 30px;
  line-height: 1.1;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}

#restaurant-address {
  margin: 10px 0px;
}

#restaurant-hours td {
  color: #666;
  font-size: 0.8em;
}

#reviews-container {
  border-top: 1px solid #d9d9d9;
  margin-top: 30px;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li,
#create-review form {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  font-size: 0.8em;
  display: block;
  list-style-type: none;
  margin: 0 auto 30px;
  padding: 0 20px 20px;
  width: 85%;
}

#favorite {
  height: 0;
	width: 0;
	visibility: hidden;
}

.favorite_toggle {
  background-color: #ccc;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 5px 0;
  width: 90%;
}

.favorite_toggle label {
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  margin-left: -5px;
  padding: 5px 10px;
}

/* ====================== Reviews ====================== */
#create-review form {
  text-align: left;
}

#create-review label {
  display: block;
  margin: 15px 0 5px 0;
}

#create-review input,
#create-review textarea {
  border: 1px solid #444;
  font-size: 1em;
  margin: 5px auto;
  padding: 5px;
  width: 90%;
}

#create-review select {
  background-color: #fff;
  border: 1px solid #444;
  font-size: 1em;
  width: 110px;
}

#create-review button {
  background-color: #fda429;
  color: #322008;
  display: inline-block;
  font-size: 1em;
  margin: 10px 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
